{% extends "base.html" %}
{% load crispy_forms_tags static i18n%}

{% block title %}Server Error{% endblock %}

{% block content %}
<style>
    .job-item-img{
        width: 110px;
        margin-right: 10px;
    }
    .list-jobs{
        padding: 14px;
    }
    .border-light{
        border-color: white !important;
    }
    .container-job{
        display: flex;
        margin: 10px;
    }
    body{
        background: #f8f9fa;
    }
</style>
<div class="container">
    <center><h2>Find your Dream Job!!</h2></center>

    <form method="get" action="{% url 'match:match' %}" class="">
        <!-- {% csrf_token %} -->
        <div class="row">
            <div class="col-sm-10">
                {% crispy form %}
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
    {% if bio %}
      <div class="col-sm-4">
        <!--First Column-->
        <div class="card">
            {% if bio %}
            <img class="card-img-top" src="{{ bio.picture }}" alt="Picture">
            {% else %}
            <img class="card-img-top" src="{% static 'images/not_found.png' %}" alt="Picture">
            {% endif %}
            <div class="card-body">
              <p class="card-text"><b>Name:</b> {{bio.name}}</p>
              <p class="card-text"><b>professional Headline:</b> {{bio.professionalHeadline}}</p>
            </div>
          </div>
        <!--endFirst Column-->
      </div>
      <div class="col-sm-8">
        <div class="list-jobs card card-custom gutter-b">
        {% if jobs %}
            {% for job in jobs %}
                <!--job item-->
                <div class="container-job">
                    <div class="job-image">
                        <img class="job-item-img rounded"  src="{{ job.organizations.0.picture }}" alt="Picture">
                    </div>
                    <div class="">
                        <p><b>{{ job.organizations.0.name }}</b></p>
                        <p>job: {{ job.objective}}</p>
                    </div>
                </div>  
                <!--end job item-->
            {% endfor %}
        {% else %}
            Jobs not found
        {% endif %}
      </div>
    </div>
    {% else %}
        {% if request_get %}
            The user does not exist, please try again
        {% endif %}
    {% endif %}
    
    </div>
  </div>
{% endblock content %}


